<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>ALMA_NCIP_Lending_Client</Name>
  <Author>Bill Jones, SUNY Geneseo; Kurt Munson, Northwestern University Libraries (Modified by Matt Niehoff)</Author>
  <Version>1.2</Version>
  <Active>True</Active>
  <Type>System</Type>
  <Description>This system level addon allows for ILLiad to communicate with Alma via NCIP to update lending requests in Alma.</Description>
  <Forms />
  <Settings>
    <Setting name="NCIP_Responder_URL" value="https://pitt-psb.alma.exlibrisgroup.com/view/NCIPServlet" type="string">
      <Description>Replace "xxx" with your institution's three letter Alma code. If SUNY, replace "xxx" with "suny-zzz", and replace zzz with your institution's three letter Alma code.</Description>
    </Setting>    
    <Setting name="acceptItem_from_uniqueAgency_value" value="01PITT_INST" type="string">
      <Description>Replace "XXX" with your institution's three letter Alma code.  If SUNY, replace "XXX" with "01SUNY_ZZZ", and replace ZZZ with your institution's three letter Alma code.</Description>
    </Setting>
    <Setting name="ApplicationProfileType" value="HSLS_ILLIAD" type="string">
      <Description>Input the Resource Sharing Partner code used in Alma.</Description>
    </Setting>
    <Setting name="ILLiad_field_to_get_barcode" value="ItemInfo3" type="string">
      <Description>This field will be used as the item barcode to be sent to Alma.</Description>
    </Setting>    
    <Setting name="LendingCheckOutItemFailQueue" value="NCIP Error: LendingCheckOutItem Failed" type="string">
      <Description>This designates the name of the queue a Lending Transaction will be moved to if the CheckOutItem function fails.</Description>
    </Setting>
    <Setting name="LendingCheckInItemFailQueue" value="NCIP Error: LendingCheckInItem Failed" type="string">
      <Description>This designates the name of the queue a Lending Transaction will be moved to if the CheckInItem function fails.</Description>
    </Setting>
  </Settings>
  <Files>
    <File>ILLiad_Alma_NCIP_Lending.lua</File>
  </Files>
</Configuration>
